body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(78, 1, 1);
    color: white;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  #center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 3em; 
  }
  
  table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  td {
    border: none;
    padding: 10px;
  }
  
  h3, p {
    text-align: center;
    font-size: 1.4em;
  }
  
  header {
    background-color: #360202;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1#flashingHeader {
    animation: neonFlash 1.5s infinite alternate;
    color: #00ff00;
}

@keyframes neonFlash {
    0% {
        color: #ff0000;
    }
    100% {
        color: #0011ff;
    }
}
  
  .menu-button {
    cursor: pointer;
  }
  
  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #360202;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  #sidebar a:hover {
    color: #f1f1f1;
  }
  
  main {
    padding: 75px;
  }
  
  .news-item {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .news-item h3 {
    color: #e30c0c;
    font-size: 2em; 
  }
  
