.title{
    font-family: 'Ariel',Sans-Serif ;
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;

}

.gameplay{

color: aliceblue;

}

.graphics{

    color: aliceblue;
    
    }

 .storyline{

color: aliceblue;
            
            }

.summary{

color: aliceblue;
                
                }


.menu-button
{
color: aliceblue;
}

.intro{
    font-family: 'Ariel',Sans-Serif ;
    color: aliceblue;
  

}

img{
    height: auto;
    width: 1000px;
    padding: 10px;
}
.description {

}
