.title{
    font-family: 'Ariel',Sans-Serif ;
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;

}

.gameplay{

color: aliceblue;

}

.graphics{

    color: aliceblue;
    
    }

 .storyline{

color: aliceblue;
            
            }

.summary{

color: aliceblue;
                
                }


.menu-button
{
color: aliceblue;
}

.intro{
    font-family: 'Ariel',Sans-Serif ;
    color: aliceblue;
  

}

.spidey{
     display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
}
.description {

    
}



    
